<h1>Your Rented Cars</h1>

<div id="cars">
  <% @cars.each do |car| %>
      <p>
    <strong>Make:</strong>
    <%= car.make %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= car.model %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= car.year %>
  </p>

  <p>
    <strong>Salon:</strong>
    <%= car.salon %>
  </p>

  <p>
    <strong>Rented on:</strong>
    <%= car.updated_at.strftime("%d/%B/%Y")  %>
  </p>

  <p>
    <%= form_with model: car do |form| %>
      <%= form.hidden_field :rented, value: nil %>
      <%= form.submit "Return this car!", class: "btn btn-red" %>
    <% end %>
  </p>
<hr class="mb-4 mt-8">
  <% end %>
</div>

